.training-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: "Roboto Slab", serif;
}

.training-table caption {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.training-table th, .training-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.training-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.training-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.training-table tbody tr {
    background-color: #e0e0e0;
}